<div class="max-w-6xl mx-auto mt-10 grid grid-cols-1 lg:grid-cols-2 gap-6">
  <!-- Visor XML original -->
  <div class="card shadow bg-gradient-to-r border-zinc-400">
    <div class="card-body">
      <div class="flex items-center justify-between mb-2">
        <h5 class="card-title">Original</h5>
      </div>
      <pre class="overflow-auto max-h-[60vh] p-4 rounded text-sm whitespace-pre-wrap bg-gray-100">
        <code>{{ xmlRaw() }}</code>
      </pre>
    </div>
  </div>

  <!-- Visor XML convertido -->
  <div class="card shadow bg-gradient-to-r border-zinc-400">
    <div class="card-body">
      <div class="flex items-center justify-between mb-2">
        <h5 class="card-title">Convertido</h5>
      </div>
      <pre class="overflow-auto max-h-[60vh] p-4 rounded text-sm whitespace-pre-wrap bg-gray-100">
        <code>{{ xmlConverted() }}</code>
      </pre>
    </div>
  </div>

  <!-- Botón descarga -->
  <div class="col-span-2 flex justify-center">
    <button type="button" class="btn btn-outline btn-secondary mb-6">
      Descargar XML Convertido
    </button>
  </div>
</div>