<div class="max-w-4xl mx-auto mt-10 grid grid-cols-1 lg:grid-cols-2 gap-6">

  <!-- Original -->
  <div class="card bg-base-200 ">
    <div class="card-body">
      <h5 class="card-title mb-4">Resumen Ejecutivo - Original</h5>
      @if (originalInfo) {
      <ul class="text-sm space-y-2">
        <li><strong>Msg ID:</strong> {{ originalInfo.msgId }}</li>
        <li><strong>Fecha Creación:</strong> {{ originalInfo.fechaCreacion }}</li>
        <li><strong>N° Transacciones:</strong> {{ originalInfo.numeroTransacciones }}</li>
        <li><strong>Suma Total:</strong> {{ originalInfo.sumaTotal }}</li>
        <li><strong>Empresa:</strong> {{ originalInfo.nomEmpresa }}</li>
      </ul>
      } @else {
      <p class="text-gray-500 italic">Cargando...</p>
      }
    </div>
  </div>

  <!-- Convertido -->
  <div class="card bg-base-200 ">
    <div class="card-body">
      <h5 class="card-title mb-4">Resumen Ejecutivo - Convertido</h5>
      @if (convertedInfo) {
      <ul class="text-sm space-y-2">
        <li><strong>Msg ID:</strong> {{ convertedInfo.msgId }}</li>
        <li><strong>Fecha Creación:</strong> {{ convertedInfo.fechaCreacion }}</li>
        <li><strong>N° Transacciones:</strong> {{ convertedInfo.numeroTransacciones }}</li>
        <li><strong>Suma Total:</strong> {{ convertedInfo.sumaTotal }}</li>
        <li><strong>Empresa:</strong> {{ convertedInfo.nomEmpresa }}</li>
      </ul>
      } @else {
      <p class="text-gray-500 italic">Cargando...</p>
      }
    </div>
  </div>
</div>