<div class="max-w-6xl mx-auto mt-10 flex justify-center gap-6 flex-wrap">

  <!-- Card Original -->
  <div
    class="card bg-base-100 shadow bg-gradient-to-r from-blue-100 via-purple-50 to-blue-100 inline-block max-w-[calc(50%-12px)]">
    <div class="card-body">
      <div class="flex items-center justify-between mb-2">
        <h5 class="card-title">Original</h5>
      </div>
      <div class="overflow-auto max-h-[60vh] rounded bg-gray-100">
        <pre class="p-4 text-sm whitespace-pre w-max max-w-full">
          <code>{{ xmlRaw() }}</code>
        </pre>
      </div>
    </div>
  </div>

  <!-- Card Convertido -->
  <div
    class="card bg-base-100 shadow bg-gradient-to-r from-blue-100 via-purple-50 to-blue-100 inline-block max-w-[calc(50%-12px)]">
    <div class="card-body">
      <div class="flex items-center justify-between mb-2">
        <h5 class="card-title">Convertido</h5>
      </div>
      <div class="overflow-auto max-h-[60vh] rounded bg-gray-100">
        <pre class="p-4 text-sm whitespace-pre w-max max-w-full">
          <code>{{ xmlConverted() }}</code>
        </pre>
      </div>
    </div>
  </div>
  <!-- Botón de descarga -->
  <div class="flex justify-center mt-8">
    <button type="button" class="btn btn-outline btn-secondary px-10 py-3 text-lg font-medium">
      Descargar XML Convertido
    </button>
  </div>
</div>